{
  "semi": false,
  "endOfLine": "auto",
  "singleQuote": true,
  "trailingComma": "es5",
  "requirePragma": false,
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}